{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "react-hot-loader/babel",
    "@babel/proposal-class-properties",
    "@babel/proposal-function-bind",
    "@babel/proposal-export-default-from"
  ]
}
