{
  "extends": "man",
  "rules": {
    "react/jsx-uses-react": "warn",
    "react/jsx-uses-vars": "warn"
  },
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true
  }
}
