body {
  margin: 0;
}

.appLayout {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: stretch;
  flex-direction: column;

  .appHeader {
    height: 54px;
    flex-basis: 54px;
    min-height: 54px;
    max-height: 54px;
    padding: 12px;
    border-bottom: 1px dashed #dddddd;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .githubLink {
      opacity: 0.15;
      cursor: pointer;
      transition: opacity .25s ease-in-out;
      &:hover {
        opacity: 1;
      }
    }
  }

  .appBody {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex: 1;

    .appNav {
      display: flex;
      justify-items: flex-start;
      align-items: flex-start;
      flex-direction: column;
      padding: 0 12px 24px 0;
      min-width: 160px;
      border-right: 1px dashed #dddddd;

      .navItem {
        margin-left: 12px;
        cursor: pointer;
        color: #cccccc;
        font-family: monospace;
        transition: color .2s ease-in-out;
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
        &:hover {
          color: #666666;
        }
        &.highlight {
          color: #000000;
        }
      }
    }

    .appMain {
      box-sizing: 'border-box';
      flex-grow: 1;
      display: 'flex';
      align-items: 'flex-start';
      justify-content: 'flex-start';
      flex-direction: 'column';
      overflow: 'scroll';
    }
  }
}
